

body {
    min-width: 320px;
    color: black;
    width: 100%;
    background-color:white;
    /* overflow-y: hidden; */

}

h1, h2, h3 {
  color: white;
}
.col-lg-12 {
    float: none;
}

.header {
    min-width: 320px;
    height: 70px;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    background-color: rgb(255, 255, 255, .4);
    transition: all .4s ease-in-out;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 3;
    display: block;
}

#header .title{
  display: none;
}

.header:hover {
    background-color: white;
}

.logo-img {
  width: 45px;
  height: 75px;
  position: relative;
  top: -5px;
}

.logo span {
    display: inline-block;
    font-size: 3em;
    padding-left: 10px;
    font-family: 'Biryani', serif; 
    font-weight: 600;
    position: relative;
    top: -25px;
}

.logo-link {
    color: black;
    text-decoration: none;
}

.logo-link :nth-child(3) {
    font-family: 'Open Sans', sans-serif;
    color: transparent;
    text-decoration: none;
    background: linear-gradient(#cc3342, #7C0C01);
    -webkit-background-clip: text;
}

.logo:hover {
    color: #374f63;
    text-decoration: none;
    transition: 1s;
}

.navigation {
    position: relative;
    float: right;
    margin-top: 3px;
}

.navigationList {
    margin-top: 5px;
    list-style-type: none;
    font-size: 1.5em;
    color: #7C0C01;
}

.navigationList-item {
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.navigationList-item:last-child {
    margin-left: 30px;
}

.navigationList-item--border {
    border: 1px solid #7C0C01;
    border-radius: 15px;
    padding: 7px 20px;
}

.navigationList-link {
    text-decoration: none;
    color: #7C0C01;
    transition: ease-in-out .5s;
}
/*
.navigationList-link:visted {
    text-decoration: none;
    color: #7C0C01;
    transition: ease-in-out .5s;
}
*/

.navigationList-list:hover {
    color: black;
    text-decoration: none;
    text-shadow: #7C0C01 0 0 5px;
}

.navigationList-item:last-child a:hover {
    color: white;
    text-decoration: none;
}

.navigationList-item--border:hover {
    background-color: #7C0C01;
    transition: ease-in-out 1s;
    text-decoration: none;
    color: white;
}

/*
@media (max-width: 800px) { 
    .logo-img {
      margin-bottom: 6px;
    }
}
*/

.burger {
    display: none;
    position: relative;
    width: 50px;
    height: 100%;
    right: 50px;
    color: #4d2100;
}

@media (max-width: 1000px) {
    .navigationList {
        display: none;
    }
    .burger {
        display: block;
    }
    .burger i {
        font-size: 4em;
    }
}

@media (max-width: 700px) {

    .burger {
        right: 10px;
    }
}

/* End of Header */

.main-container {
  max-width: 100%;
}

.gap {
  height:75px;
  width: 100%;
}

.title {
    width: 100%;
    z-index: 2;
    display: block;
    height: 800px;
    position: relative;
    text-align: left;
    text-shadow: 0 0 15px rgba(0, 0, 0, .7);
    background-image: url("img/guns_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-text {
    position:sticky;
    color: white;
    top: 300px;
    padding-bottom: 20px;
}

.title-text h1 {
    font-weight: 400;
    font-size: 4em;
    padding: 0;
}

@media (max-width: 1300px) {

}
@media (max-width: 875px) {

    .title {
      height: 600px;
    }

    .title-text {
    padding-top: 225px;
}
    .title-text h1 {
        font-weight: 400;
        font-size: 3em;
    }
  
} 

@media (max-width: 675px) {

    .title {
      height: 500px;
    }
    .title-text {
    padding-top: 200px;
}
} 

.jumbotron {
  margin-bottom: 0;
}

.title .container-fluid {
  height: 100%;
}

.title .container-fluid .row {
  height: 100%;
}



.active {
    background-color: #fff;
    transition: ease 1s;
}

/* Map */

.map .space {
  display: block;
  height: 70px;
  margin: none;
  padding: none;
}

@media (max-width: 990px) {
    .map .space {
        display: none;
    }
}

.map h1 {
  font-size: 50px;
  height: 1em;
  margin-bottom: 27px;
  color: black;
}

.map ul {
  border:solid 3px black;
  border-radius: 20px;
  list-style: none;
  padding: 1em 2em;
  background-color: floralwhite;
}

.map {
  background-color: white;
  color: black;
}

.map a {
  color: #7c0f01;
  font-weight: bold;
}

.map i {
  margin-right: 1em;
  color: #7c0f01;
}

#gradient-across {
  --color-stop-1: #7c0f01;
  --color-stop-2: black;
  --color-stop-3: #ba1200;
}

.line-divider {
  fill: url(#gradient-across);
  max-width: 50%;
  margin: 30px;
}

.map-chunk h3 {
  text-align: center;
  color: black;
}


.map-chunk .html-widget {
  border: 5px solid black;
  contain: content;
  border-radius: 10px;
}

@media (max-width: 675px) {
    .map-chunk .html-widget {
        height: 380px !important;
    }
}


/* summary plots */

.summaries {
  background-image: url("img/us_congress.jpg");
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  padding-bottom: 136px;
}

.summaries h1 {
  text-align: center;
  padding:50px;
  text-transform: uppercase;
}

.carousel {
  height: 100%;
}
.carousel-inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators li, .carousel-indicators .active {
  border: 2px solid black;
  width: 20px;
  height: 20px;
  margin: 5px;
}

.carousel-indicators li {
  background-color: rgba(0, 0, 0, 1);
}

.carousel-indicators .active {
  background-color: white;
}

.well {
  background-color: rgba(255, 255, 255, .9);  
  border: none;
  border-radius: 30px;
  padding: 4px;
}

.carousel-control {
  border-radius: 30px;
}

.thumbnail {
  padding: 30% 15px 30% 15px;
  border: none;
  background-image: url(img/mantel-logo-4.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;
  ;
}

.thumbnail h3 {
  color: black;
}

.item .row {
  height: inherit;
}

.item .col-md-5 {
  height: inherit;
}

.thumbnail p {
  text-align: justify;
}

/* District Table */

.level1 {
  color: black;
}

.rheader {
  border: solid black 1px;
  background-color: #260603;
}

.district-table {
  display: auto;
}

.district-table h1 {
  font-family: 'Biryani';
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  padding: 0;
  display: inline-block;
  text-align: center;
}

#gradient-across-2 {
  --color-stop-1: #7c0f01;
  --color-stop-2: white;
  --color-stop-3: ghostwhite;
}

.line-divider-2 {
  fill: url(#gradient-across-2);
  margin: 4px;
  max-width: 100% !important;
}

@media (max-width: screen-xs-max) {
  
    .district-table: {
        display: none;
    }
}


/* MORE */

.concluding-section {
    height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-image: url(red-forest-3.jpg);
    background-position: center center;
    background-size:cover;
    z-index: 3;
}

.more-container {
    top: 100px;
    width: 100%;
    height: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;

}

 .more-container h2 {
    margin: 0;
}

.more-container p {
    color: #fffffc;
}


/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer {
    padding: 8em 0 6em 0;
    background-color: #fffffc;
    color: black;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size:  10px;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 0;
    position: relative;

}

.center-icons{
    list-style: none;
    padding: 0;
    position: relative;
    top: -30px;
}

ul.center-icons li{
    display: inline-block;
    padding: 0 3em 0 0;
    color: black;
}

.footer .fab, .footer .fas {
    font-size: 6em;
    text-align: right;
    color: #2e2e2e;
}

.copyright {
    margin: 2em 0;
    text-align: center;
    list-style: none;
    padding: 0;
    display: inline-block;
}

.copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

.copyright li {
    font-size: 2em;
    border-left: solid 1px black;
    display: inline-block;
    list-style: none;
    margin-left: 1.5em;
    padding-left: 1.5em;
}

